@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');:where


p{
  font-family: 'Press Start 2P';
  font-size: 12px;
  text-decoration: none;
}
body{
  background-image: url('../assets/wp1902707.jpg');
  background-size: cover;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P';
  font-size: 12px;
  text-decoration: none;
  line-height: 15px;
  margin-bottom: 50px;
}
.butF{
  z-index: 1;
}
.lista{
  border: 1px solid black;
  border-radius: 10px;
}
.listas{
  list-style: none;
}
.logo{
  margin: 50px;
}
.corpo{
  display: flex;
  flex-direction: row;
}
.pokedex{
  display: flex;
  justify-content: center;
  margin-left: 70px;
}